

.flex-container{
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: column wrap;
      padding: 0% 10% 0 10%;
      justify-content: center; 
  }
  
  .posLoad{
      position: relative;
      margin: 30px 0 20px 0vw;
  }
  .buttonload {
              background-color: rgba(1, 1, 1, 0.171);
              border: none;
              color: white;
              padding: 12px 24px;
              font-size: 16px;
              width: 200px;
              box-shadow: 0 0 100px 20px rgba(129, 127, 127, 0.541);
  }
  
  .buttonload:hover {
      transform: scale(1.08);
      transition: all 0.5s;
  }
  
  
  
  .posNew{
      position: absolute;
      right: 100px;
      top: 17px;
      
  }
  .buttonNew{
      background-color: #cce1ecd2;
      border: none;
      color: white;
      padding: 9px 8px;
      font-size: 18px;
      box-shadow: 0 0 3px 10px rgba(253, 249, 249, 0.39);
      cursor: pointer;
      border-radius: 10%;
  
  }
  .btns :hover{
      transform: scale(1.2);
      transition: all 0.2s;
      background-color: rgba(19, 6, 54, 0.808);
  
  }
  
  .btns:hover:after {
      opacity: 1;
      top: 0.5em;
      max-height: 200px;
      padding: 0.4em;
  }
  
  .btns{
  padding-top: 0;
  padding-right: 150px;
  }
  button:focus{
      outline: none;
  }
  .fa {
      margin-left: -12px;
      margin-right: 8px;
  }
   
  h4{
      font-size: 18px;
  }
  
  .full{
      width: 100%;
      margin: 5px;
      padding: 7px;
  
  }
  
  .starRate{
      width: 100%;
  }
  
  .rate{
      display: inline-block;
      width: 30px;
       font-size: 12px;
       margin-top: 0px;
       margin-left: 7.5px;
       color: #fff;
       padding: 5px;
       border-radius: 50%;
       border: 1px solid rgba(255, 255, 255, 0.246);
       text-align: center;
  }
  
  .movies_list{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 50px 100px 50px 100px;
  
      margin: 0;
  }
   .movie_card {
       position: relative;
       display: flex;
       -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
       width: 250px;
       height: 400px;
       overflow: hidden;
       border-radius: 10px;
       transition: all 0.4s;
       margin:2vh;
       background-color: rgb(194, 182, 166);
       
  
  }
   .movie_card:hover {
       transform: scale(1.02);
       transition: all 0.4s;
       background-color: rgba(17, 29, 31, 0.062);
  }
  .fa{
      margin-right: 15px !important;
  }
  .card_header {
      width: 100%;
  }
  .card_body{
      position: absolute;
      height: 55%;
      width: 100%;
      top: 30%;
      padding-right: 10px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
  }
  .card_footer{
      position: absolute;
      height: 40%;
      width: 100%;
      top: 72%;
      padding: 5px;
      display: flex;
      flex-flow: wrap column;
      align-items: center;
  }
  
    .movie_card .info_section {
       position: relative;
       width: 100%;
       height: 100%;
       background-blend-mode: multiply;
       z-index: 2;
       background: linear-gradient(to right, #464643 10%, transparent 100%);
       border-radius: 10px;
       display: flex;
       -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          flex-direction: row;
          cursor: pointer;
  
  }
   .movies_list .movie_card .info_section .card_header h1 {
       color: #fff;
       font-weight: 400;
       font-size: 20px;
  }
   .movie_card .info_section .card_header h4 {
       color: #9ac7fa;
       font-weight: 400;
       font-size: 18px;
  }
   .movies_list .movie_card .info_section .card_footer .full .minutes {
       display: inline-block;
       font-size: 12px;
       margin-top: 0px;
       color: #fff;
       padding: 5px;
       border-radius: 10px;
       border: 1px solid rgba(255, 255, 255, 0.246);
       text-align: center;
       
  
  }
   .movies_list .movie_card .info_section .card_footer .type {
       display: inline-block;
       color: #cee4fd;
       font-weight: 250px;
  }
   .movies_list .movie_card .info_section .card_header .locandina {
       position: relative;
       float: left;
       margin:5% 70% 0% 5%;
       height: 180px;
       width: 120px;
       box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.5);
       border-radius: 8px;
  }
   .movie_card .info_section .movie_desc {
       padding: 0;
       height: 50%;
       width: 100%;
       z-index: 10;
  }
   .movie_card .info_section .movie_desc .text {
       color: #cfd6e1;
       padding-top: 10px;
  }
  
   .movie_card .blur_back {
       position: absolute;
       top: 0;
       z-index: 1;
       height: 100%;
       right: 0;
       background-size: cover;
       border-radius: 35px;
       width: 100%;
       background-position-x: -300px;
  }
   
  .star {
      color: orange;
    }
    
    p span.popup {
          height: 100%;
          width: 100%;
          color: #fff;
          position: absolute;
          cursor: pointer;
          z-index: 500;
   }
      span.popup:after {
          content: attr(data-popuptext);
          background: rgba(0, 0, 0, 0.85);
          border-radius: 3px;
          opacity: 0;
          top: 0;
          left: 0;
          position: absolute;
          transition: 500ms ease;
          white-space: nowrap;
          max-height: 0;
   }
      span.popup:hover:after {
          opacity: 1;
          top: 0.2em;
          max-height: 200px;
          padding: 0.4em;
   }
   
   
   input[type=number]::-webkit-inner-spin-button, 
   input[type=number]::-webkit-outer-spin-button { 
           -webkit-appearance: none; 
           margin: 0; 
       }	
  
       .navbar-custom {
      background-color: #763ef8de;
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
      color: rgba(255,255,255,.8);
      padding: 0.8rem 1rem;
    }
    .navbar-custom .navbar-nav .nav-link {
      color: rgba(255,255,255,.5);
      padding: 1rem 1rem;
    }
  
    .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    padding: 0.8rem 1rem;
  }
  
  .underlineHoverNav:after {
      display: block;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 2px;
      background-color: #e1e5e7;
      content: "";
      transition: width 0.3s;
    }
    
    .underlineHoverNav:hover {
      color: #0d0d0d;
    }
    
    .underlineHoverNav:hover:after{
      width: 100%;
    }
  
    nav{
        position: fixed;
        width: 100%;
        z-index: 1000;;
    }
    .navbar-brand{
        padding-top: 10px !important;
        font-weight: 600;
      } 
      
      .Navbar {
          display: flex;
          flex-flow: row-reverse;
          flex-direction: row;
      }
  
  .addB{
      width:1vw;
      height: 1vh;;
  }
  
  @media screen and (max-width: 768px) {
      .movies_list{
          min-height: 400px;
          padding: 50px 10px 50px 10px;
      } 
      .movie_card {
           width: 90%;
           margin: 70px auto;
           min-height: 450px !important;
      }
      p{
          font-size: 16px;
      }
      h1{
          font-size: 34px;
      }
      h4{
          font-size: 22px;
      }
       .blur_back {
           width: 100%;
           background-position: 50% 50% !important;
      }
  
      .card_header {
          width: 100%;
          height: 85% !important;
      }
      .card_body{
          height: 50%;
          position: relative;
          top:10%;
          justify-content: top;
          margin-top:5%;
      }
       .info_section {
           background: linear-gradient(to top, #141413 20%, transparent 100%);
           width: 100%;
           padding-left: 0;
           min-height: 450px;		 
      }
      .posNew{
      position: absolute;
          right: 60px;
          bottom: 15px;
      }
      .navbar-nav {
   flex-direction: row;
  
  }
  .btns{
      padding-top: 0;
      padding-right: 0;
      }
      .addB{
          height: auto;
      }
      .buttonNew{
      padding: 5px 9px;
  }
  
  }
   .spot {
       box-shadow: 0px 0px 500px -45px rgba(247, 245, 244, 0.5);
  }
   .spot:hover {
       box-shadow: 0px 0px 800px -55px rgba(8, 14, 12, 0.925);
  }
  
   
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  
  